/* Estilo de cada registro */
.registro-item {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.registro-item .title {
    font-weight: bold;
}

/* Lista de personas dentro de cada registro */
.registro-item ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 5px 0;
    display: none;
}

.registro-item ul li {
    padding: 5px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #1E8585;
    padding: 5px 10px;
    border: 1px solid #1E8585;
    border-radius: 3px;
}

.pagination a.active {
    background-color: #1E8585;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
